<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Référentiels</h1>

  <!-- Add button -->
  <a [routerLink]="['/dashboard/referentiels/add']" class="btn btn-add btn-icon-split mb-4">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Ajouter</span>
  </a>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 ml-4" style="clear: both;">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Liste des référentiels
      </h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngFor="let r of referentiels | paginate: { id: 'list',
        itemsPerPage: 3,
        currentPage: page,
        totalItems: total };  let i=index" [class.active]="i == page" id="accordion{{i}}" class="col mr-4 mb-4">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0 accordion-text">{{r.libelle}}
                <span class="accordion-icons" style="float: right;">
                  <i class="fa fa-info-circle"></i>
                  <i [routerLink]="['/dashboard/referentiels/edit', r.id]" class="fas fa-edit"></i>
                  <i (click)="onDelete(r.id, i)" class="fas fa-times"></i>
                </span>
              </h5>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading{{i}}">
              <h5 class="mb-0">
                <button class="btn btn-link accordion-text" data-toggle="collapse" [attr.data-target]="'#collapse'+ i"
                  aria-expanded="true" [attr.aria-controls]="'collapse'+ i">
                  Présentation
                </button>
              </h5>
            </div>
            <div id="collapse{{i}}" class="collapse" [attr.aria-labelledby]="'heading'+ i">
              <div class="card-body">
                {{r.description}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-g{{i}}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed accordion-text" data-toggle="collapse"
                  [attr.data-target]="'#collapse-g'+ i" aria-expanded="false" [attr.aria-controls]="'collapse-g'+ i">
                  Groupes de Compétences
                </button>
              </h5>
            </div>
            <div id="collapse-g{{i}}" class="collapse" [attr.aria-labelledby]="'heading-g'+ i">
              <div class="card-body">
                <span *ngFor="let g of r.groupeCompetences" class="badge badge-light mr-1 custom-badge"> {{g.libelle}}
                </span>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-ca{{i}}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed accordion-text" data-toggle="collapse"
                  [attr.data-target]="'#collapse-ca'+ i" aria-expanded="false" [attr.aria-controls]="'collapse-ca'+ i">
                  Critères d'admission
                </button>
              </h5>
            </div>
            <div id="collapse-ca{{i}}" class="collapse" [attr.aria-labelledby]="'heading-ca'+ i">
              <div class="card-body">
                {{r.critereAdmissions}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-ce{{i}}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed accordion-text" data-toggle="collapse"
                  [attr.data-target]="'#collapse-ce'+ i" aria-expanded="false" [attr.aria-controls]="'collapse-ce'+ i">
                  Critères d'Evaluation
                </button>
              </h5>
            </div>
            <div id="collapse-ce{{i}}" class="collapse" [attr.aria-labelledby]="'heading-ce'+ i">
              <div class="card-body">
                {{r.critereEvaluations}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-pdf{{i}}">
              <h5 class="mb-0">
                <button class="btn btn-link accordion-text" data-toggle="collapse"
                  [attr.data-target]="'#collapse-pdf'+ i" aria-expanded="true" [attr.aria-controls]="'collapse-pdf'+ i">
                  Programme
                </button>
              </h5>
            </div>

            <div id="collapse-pdf{{i}}" class="collapse" [attr.aria-labelledby]="'heading-pdf'+ i">
              <div class="card-body">
                <pdf-viewer src="data:application/PDF;base64{{r.programme}}" [render-text]="true" [render-text-mode]=2 [autoresize]="true"></pdf-viewer>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="float: right;">
            <pagination-controls class="my-pagination" id="list" (pageChange)="handlePageChange($event)"
              (pageBoundsCorrection)="handlePageChange($event)" [autoHide]="option" [responsive]="option"
              previousLabel="Précédent" nextLabel="Suivant" screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page" screenReaderCurrentLabel="Vous êtes sur la page">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
