.btn-accardion {
  font-weight: 400;
  text-decoration: none;
  color: #fa7814! important;
}
.btn-add {
  float: right;
}
.fa-info-circle {
  color: #1cc88a;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.fa-edit {
  color: #fa7814;
  margin-right: 0.5em;
}
