<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Groupes de Compétences</h1>

  <!-- Add button -->
  <a [routerLink]="['/dashboard/groupe-competences/add']" class="btn btn-add btn-icon-split mb-4">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Ajouter</span>
  </a>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 ml-4" style="clear: both;">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Liste des groupes de compétences avec leurs compétences
      </h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div *ngFor="let g of groupeCompetences | paginate: { id: 'list',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: total };  let i=index" [class.active]="i == page" id="accordion{{i}}" class="col mr-4 mb-4">
          <div class="card">
            <div class="card-header">
              <h5 class="mb-0 accordion-text">{{g.libelle}}
                <span class="accordion-icons" style="float: right;">
                  <i class="fa fa-info-circle"></i>
                  <i [routerLink]="['/dashboard/groupe-competences/edit', g.id]" class="fas fa-edit"></i>
                  <i (click)="onDelete(g.id, i)" class="fas fa-times"></i>
                </span>
              </h5>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading{{i}}">
              <h5 class="mb-0">
                <button class="btn btn-link accordion-text" data-toggle="collapse" [attr.data-target]="'#collapse'+ i"
                  aria-expanded="true" [attr.aria-controls]="'collapse'+ i">
                  Description
                </button>
              </h5>
            </div>
            <div id="collapse{{i}}" class="collapse" [attr.aria-labelledby]="'heading'+ i">
              <div class="card-body">
                {{g.description}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading-bis{{i}}">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed accordion-text" data-toggle="collapse"
                  [attr.data-target]="'#collapse-bis'+ i" aria-expanded="false"
                  [attr.aria-controls]="'collapse-bis'+ i">
                  Compétences
                </button>
              </h5>
            </div>
            <div id="collapse-bis{{i}}" class="collapse" [attr.aria-labelledby]="'heading-bis'+ i">
              <div class="card-body">
                <span *ngFor="let c of g.competences" class="badge badge-light mr-1 custom-badge"> {{c.libelle}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="float: right;">
            <pagination-controls class="my-pagination" id="list" (pageChange)="handlePageChange($event)"
              (pageBoundsCorrection)="handlePageChange($event)" [autoHide]="option" [responsive]="option"
              previousLabel="Précédent" nextLabel="Suivant" screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page" screenReaderCurrentLabel="Vous êtes sur la page">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
