<div class="container">
  <button (click)="goBack()" class="btn btn-light btn-circle">
    <i class="fab fas fa-arrow-left"></i>
  </button>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row skill">
        <div class="col-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Ajouter un groupe de compétence</h1>
            </div>
            <form #addForm="ngForm" class="user form-skill" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <input #libelle="ngModel" name="libelle" [(ngModel)]="groupeCompetence.libelle" type="text"
                  class="form-control" id="exampleFirstName" placeholder="Libelle*" required />
                <div class="error-input" [hidden]="libelle.valid || libelle.pristine">
                  Le libelle est obligatoire.
                </div>
              </div>
              <div class="form-group row">
                  <textarea #description="ngModel" [(ngModel)]="groupeCompetence.description" name="description"
                    type="text" class="form-control" placeholder="Description*" rows="3" required></textarea>
                  <div class="error-input" [hidden]="description.valid || description.pristine">
                    La description est obligatoire.
                  </div>
              </div>
              <h5 class="h5 text-gray-900 mt-4 text-center">Assignation </h5>
              <div class="row">
                <div class="col-sm-6">
                  <!-- Add button -->
                  <a (click)="compExistanteDisplay = true" class="btn btn-user-groupe btn-add-skill btn-icon-split mb-4">
                    <span class="icon-skill text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Choisir une compétence existante</span>
                  </a>
                </div>
                <div class="col-sm-6">
                  <!-- Add button -->
                  <a (click)="newCompDisplay = true" class="btn btn-user-groupe btn-add-skill btn-icon-split mb-4"
                    style="float: right;">
                    <span class="icon-skill text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Créer une compétence</span>
                  </a>
                </div>
              </div>
              <div [ngStyle]="{'display': compExistanteDisplay? 'block':'none'}" class="form-group row">
                <p-multiSelect display="chip" class="multiselect-custom select"
                  [(ngModel)]="groupeCompetence.competences" name="skills" [options]="comp"
                  defaultLabel="Choisir une compétence" optionLabel="libelle" optionValue="@id">
                </p-multiSelect>
              </div>
              <div [ngStyle]="{'display': newCompDisplay? 'block':'none'}">
                <form #newSkillForm="ngForm">
                  <div class="form-group row">
                    <div class="col-sm-8 ml-2 mb-3 mb-sm-0">
                      <input id="skill" [(ngModel)]="skill" name="skill" type="text" class="form-control"
                        placeholder="Libelle de la compétence" required />
                    </div>
                    <div class="col-sm-3 mt-1 mb-sm-0">
                      <button [disabled]="!newSkillForm.form.valid" (click)="addCompetence()" type="submit"
                        class="btn btn-user-groupe btn-success btn-sm">Ajouter</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="error-input" [hidden]="!formError">
                *Veuillez choisir au moins une compétence.
              </div>
              <hr>
              <button [disabled]="!addForm.form.valid" type="submit" class="btn btn-primary btn-user btn-block btn-color">
                Enregistrer
              </button>
              <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
