<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Profils de Sortie</h1>

  <!-- Input field -->
  <div style="float: right;">
    <app-profil-sortie-add (profil)="onProfilCreation($event)"></app-profil-sortie-add>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 ml-4" style="clear: both;">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des profils de sortie des apprenants</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Libelle</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Libelle</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let profil of profils | paginate: { id: 'list',
            itemsPerPage: 3,
            currentPage: page,
            totalItems: total }; index as i;">
              <td *ngIf="tempId != i" id="{{i}}"> {{profil.libelle|titlecase}} </td>
              <td *ngIf="tempId != i">
                <i [routerLink]="['/dashboard/profil-sorties', profil.id]" class="fa fa-info-circle fa-lg"></i>
                <i (click)="onEditClick(i)" class="fa fa-edit fa-lg"></i>
                <i (click)="onDelete(profil.id, i)" class="fa fa-trash fa-lg" aria-hidden="true"></i>
              </td>
              <td *ngIf="tempId==i" id="editRow{{i}}" colspan="2">
                <div>
                  <app-profil-sortie-edit [profil]="profil" (cancel)="onCancelEdit($event)" (update)="onEdit($event, i)"></app-profil-sortie-edit>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div style="float: right;">
            <pagination-controls class="my-pagination" id="list" (pageChange)="handlePageChange($event)"
              (pageBoundsCorrection)="handlePageChange($event)" [autoHide]="option" [responsive]="option"
              previousLabel="Précédent" nextLabel="Suivant" screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page" screenReaderCurrentLabel="Vous êtes sur la page">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #confirmDeleteModal class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Etes vous sûr de vouloir supprimer ce profil?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Attention la suppression est définitive. Appuyez sur supprimer pour confirmer.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
					<button id="confirmDelete" class="btn btn-danger" type="button">Supprimer</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->


<!-- End of Main Content -->
