<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Profils de Sortie</h1>

  <!-- Add button -->
  <a [routerLink]="['/dashboard/users/add']" class="btn btn-add btn-icon-split mb-4">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Ajouter</span>
  </a>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 ml-4"  style="clear: both;"  >
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des profils de sortie des apprenants</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Libelle</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Libelle</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Développeur</td>
              <td>
                <i class="fa fa-edit fa-lg"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
              </td>
            </tr>
            <tr>
              <td>Designer</td>
              <td>
                <i class="fa fa-edit fa-lg"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
              </td>
            </tr>
            <tr>
              <td>Intégrateur</td>
              <td>
                <i class="fa fa-edit fa-lg"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
              </td>
            </tr>
            <tr>
              <td>Community Manager</td>
              <td>
                <i class="fa fa-edit fa-lg"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
              </td>
            <tr>
              <td>Data Scientist</td>
              <td>
                <i class="fa fa-edit fa-lg"></i>
                <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->


<!-- End of Main Content -->
