<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Compétences</h1>

  <!-- Add button -->
  <a [routerLink]="['/dashboard/competences/add']" class="btn btn-add btn-icon-split mb-4">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Ajouter</span>
  </a>

  <div class="card" style="clear: both;">
    <div class="row p-4">
      <div class="col">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Groupe de Compétences</label>
          </div>
          <select (change)="changeGroupeComp($event)" class="custom-select" id="inputGroupSelect01">
            <option *ngFor="let g of groupeCompetences" [ngValue]="g.libelle">
              {{ g.libelle | titlecase }}
            </option>
          </select>
        </div>
        <div class="competences">
          <div *ngFor="let c of competences; let i=index" class="mb-2">
            <h5 (click)="selectCompetence(c)" [ngClass]="{'competence-active': selectedCompetence == c}">C{{i+1}}. {{ c.libelle }} </h5>
          </div>
        </div>
      </div>
      <!-- Tabs for levels -->
      <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="level1-tab" data-toggle="tab" href="#level1" role="tab" aria-controls="level1"
              aria-selected="true">Niveau 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="level2-tab" data-toggle="tab" href="#level2" role="tab" aria-controls="level2"
              aria-selected="false">Niveau 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="level3-tab" data-toggle="tab" href="#level3" role="tab" aria-controls="level3"
              aria-selected="false">Niveau 3</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- class show et active. aria-labelledly -->
          <div [ngClass]="{'show active': selectedNiveau == n}" *ngFor="let n of niveaux; let i=index" class="tab-pane fade" id="level{{i+1}}" role="tabpanel" aria-labelledby="level-tab">
            <div class="row mt-4">
              <div class="col ml-4">
                <h5 class="level-header">Groupe d'actions à réaliser</h5>
                <div>
                  {{n.groupeAction}}
                </div>
              </div>
              <div class="col">
                <h5 class="level-header">Critères d'évaluation</h5>
                <div>
                  {{n.critereEvaluation}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-3">
      <div class="col">
        <button (click)="onDelete()" type="text" class="btn btn-info"
        style="background-color: red;border-color: red;">Supprimer</button>
        <button [routerLink]="['/dashboard/competences/edit', selectedCompetence?.id]" type="text" class="btn btn-info"
        style="background-color: #ff6d00;border-color: #ff6d00;">Modifier</button>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->


<!-- End of Main Content -->
