<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Liste des utilisateurs</h1>

  <!-- Add button -->
  <a [routerLink]="['/dashboard/users/add']" class="btn btn-add btn-icon-split mb-4">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Ajouter</span>
  </a>

  <!-- DataTales Example -->
  <div class="card shadow mb-4 ml-4" style="clear: both;">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Utilisateurs avec leur profil</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="row search-row">
          <div class="col-sm-12 col-md-6">
            <div class="items">
              <label for="items-select">
                Montrer
              </label>
              <select id="items-select" (change)="handlePageSizeChange($event)" class="custom-select custom-select-sm form-control form-control-sm">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
              <label for="">élements</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="filter">
              <input type="search" name="" id="input-search" class="form-control form-control-sm" placeholder="rechercher par prénom"
              [(ngModel)]="firstname" (keyup.enter)="getUsers()">
              <label for="input-search">Rechercher: </label>
            </div>
          </div>
        </div>
        <div class="">
          <div class="col-sm-12">
            <table class="table table-bordered" id="" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Avatar</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Nom d'utilisateur</th>
                  <th>Email</th>
                  <th>Profil</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Avatar</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Nom d'utilisateur</th>
                  <th>Email</th>
                  <th>Profil</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let user of users | paginate: { id: 'list',
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: total }; index as i;" [class.active]="i == page">
                  <td><img class="avatar" src="data:image/JPEG;base64,{{user.avatar}}"
                      onerror="this.src='../../../assets/placeholder.jpg';" alt="user profil image"></td>
                  <td>{{user.lastname | titlecase}}</td>
                  <td>{{user.firstname | titlecase}}</td>
                  <td>{{user.username | titlecase}}</td>
                  <td>{{user.email | titlecase}}</td>
                  <td>{{user.profil.libelle | uppercase}}</td>
                  <td class="actions">
                    <i [routerLink]="['/dashboard/users', user.id]" class="fa fa-info-circle fa-lg"></i>
                    <i [routerLink]="['/dashboard/users/edit', user.id]" class="fa fa-edit fa-lg"></i>
                    <i [ngStyle]="{'display': currentUser.username == user.username?'none':'inline'}" (click)="onDelete(user.id, i)" class="fa fa-trash fa-lg" aria-hidden="true"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div style="float: right;">
              <pagination-controls class="my-pagination" id="list" (pageChange)="handlePageChange($event)"
                (pageBoundsCorrection)="handlePageChange($event)" [autoHide]="option" [responsive]="option"
                previousLabel="Précédent" nextLabel="Suivant" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="Vous êtes sur la page">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->


<!-- End of Main Content -->
