.btn-color {
  background-color: #338f8e;
  color: white;
  border-color: #338f8e;
  margin-top: 2%;
}
.error-input {
  color: #e74a3b;
  margin-top: 1px;
  margin-left: 10px;
  font-size: 12px;
}
.error-select {
  margin-left: 23%;
}
.nav-link, .level-header {
  color: #fd6d2a;
}
.select {
  margin-left: 3%;
}
.p-multiselect .p-multiselect-label.p-placeholder {
  font-family: 'Nunito';
  color: #6e707e;
}
