<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="form-group mr-2" style="display:inline-block;">
    <input *ngIf="displayAddButton" formControlName="libelle" class="form-control" type="text" placeholder="Profil">
  </div>
  <!-- Add button -->
  <button [disabled]="displayAddButton && !addForm.valid" type="submit" class="btn btn-add btn-icon-split mb-4">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">Ajouter</span>
  </button>
</form>
<!--  -->
